$main-color: #b40733;
$light-white: #EDEEF1;
$dark-white: #A1A1A1;
$dark: rgb(33, 33, 33);


$red-gradient: linear-gradient(
	180deg,
	rgba(148, 44, 122, 0.534),
	rgba(11, 11, 34, 0.8)
);

$blue-gradient-solid: linear-gradient(
	45deg,
	rgb(20, 105, 241),
	rgb(42, 10, 184)
);
